header {
    border: 10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
    padding: 10px 0px 35px 0px;
    background: #7e7d7d;;
    height: 50px;
    
}

.headbor {

    border-bottom: 3px solid #48D1CC;
}

.about {

    float: right;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    font-family: Arial, Helvetica, sans-serif;

}

.portfolio {

    float: right;
    padding : 1px 1px 1px 2px;
    margin : 1px 1px 1px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {

    float: right;
    padding: 1px 1px 1px 2px;
    margin: 1px 1px 1px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {

    padding: 10px 10px;
    margin: 50px 170px ;
    background: white;
    height: 450px;
}
.hleft {
    float: left;
    height: 40PX;
    background-color: #48D1CC;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;


    
}

.hright {

    float: right;
    height: 37PX;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.art1 {
      
    padding-bottom: 7px;
    color: #777777;
    width: 960px;
    height:400px; 
    line-height: 30px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }

.main {

    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.bioimage {

    float: left;
    margin:5px 5px 4px 5px;
    padding:5px 5px 3px 5px;
    width: 14%;
    height: 10%;
}

.left {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
}

.aboutme {
    width: 1100px;
    padding-left: 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}
.clearfix {

    border-top: 6px solid #48D1CC;
 }

 body {

    
    background-image: url("../images/mainbackground.png");
 }

 footer {
    background: #666666;
    color:white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
 }

 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

 }
.cabeza {

    margin: 0px 170px 0px 170px;
    
}

